<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
      <title>{% block title %} {% endblock %}</title>
</head>
<body>
      <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'index' %}">Iniciar sesión</a>
            <a href="{% url 'index' %}">Opciones</a>
            <p>EDIFICIOS </p>
      </nav>
      <div id="contenido">
            {% block content %} {% endblock %}
      </div>
</body>
<footer>
      <p>Loja-Ecuador</p>
      <p>{% now "j F Y H:i" %}</p>
</footer>
</html>